*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
/* header styling */
header{
    width:80% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 14px 10px;

}
header .logo{
    font-size:15px ;

}
nav{
    display: flex;
    align-items: center;
    column-gap: 20px;

}
nav ul{
    display: flex;
    align-items: center;
    column-gap: 40px;
    border-right: 1px solid blue;
    padding:5px 30px 5px 0px;

}
nav ul li{
    list-style: none;
}
nav .right-contact{
    display: flex;
    align-items: center;

}
nav .right-contact .right-contact-text{
    font-size: 15px;
    line-height: 24px;
    margin-left: 10px;
}

/* main styling */
main{
    height: 91vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .container{
    height: 80%;
    width: 100%;
    display: flex;
}

main .container .left-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    
}
main .container .left-text .content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}
main .container .left-text h1{
     width: 80%;
     font-size: 50px;
     text-align: start;

}
main .container .left-text .book-service{
    background-color: orangered;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
main .container .left-text .small-icon{
    display: flex;
    margin: 30px 0px 50px 0px;

}
main .container .left-text p{
    margin-left: 5px;
    color:thistle;
}
main .container .left-text h4 {
     display: flex;
     text-align: initial;
     align-items: center;
     justify-content: center;
     margin-left: 5px;
}

   /* main right syling */
main .container .right-img{
    width: 50%;
    height: 100%;
    background-image:url(../img/Image.png) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
main .container .right-img .service {
    position: absolute;
    left:-20%;
    top: 0;
}
 .services{
     width: 200px;
     height: 70px;
     background-color: rgba(255, 255, 255, 0.150);
     position: absolute;
     border-radius: 50px;
     left:-5%;
     top: 10%;
     box-shadow: 1px 1px 1px 1px black;
     display: flex;
    align-items: center;
    justify-content: center;
 }
 .inside{
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    padding:5px ;
 }
 .inside .left{
    width: 35%;
    height: 80%;
    border-radius:50px ;
    background-color:rgba(11, 187, 90, 0.596) ;
    display: flex;
    justify-content:center;
    align-items: center;


 }
main .container .right-img .rating {
    position: absolute;
    right:-20% ;
    bottom:0 ;
}
.ratings{
    width: 200px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.103);
    position: absolute;
    border-radius: 50px;
    right: -5%;
    bottom: 10%;
    box-shadow: 1px 1px 1px 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inside-rate{
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px ;
}
.stars{
    margin: 15px;
}